body{
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-size: 14px;
}

.add_popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_item{
  display: flex;
  justify-content: space-between;
  height: 3vh;
}
.id{
  width: 15%;
}
.fio{
  width: 20%;
}
.create_date{
  width: 10%;
}
.contacts{
  width: 20%;
}
.actions{
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.popup{
  position: relative;
  background-color: #fff;
  width: 40%;
  height: auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_user_form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 25px;
}

.dn{
  display: none !important;
}

/*! начало */
.container{
  background-color: #F5F5F5;
  padding-left: 20px;
  padding-right: 20px;
}
.header{
  padding: 23px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3.39px 5.64px 0px #B0BEC552;
  background-color: #fff;
}

.logo {
  margin-right: 55px;
}

.search_input{
  padding: 12px 15px;
  width: 40%;
  border: 1px solid rgba(0, 0, 0, .2)
}

.title{
  display: block;
  padding: 40px;
  padding-bottom: 25px;
  font-size: 24px;
  font-weight: bolder;
}

.list{
  padding: 0px 20px;
  background-color: #fff;
}

.list_item{
  padding: 20px;
  display: flex;
  align-items: center;
}

.id{
  font-size: 12px;
  color: #B0B0B0;
}

.fio{

}

.create_date, .change_date{
  width: 9%;
  display: flex;
  justify-content: space-between;
}

.create_date span:last-child,
.change_date span:last-child{
  color: #B0B0B0;
}

.contacts{
  width: 9%;
  gap: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.contact_img_block{
  position: relative;
}
.contact_img_block img{
  transition: 300ms;
  opacity: .7;
  cursor: pointer;
}

.contact_img_block img:hover{
  transition: 300ms;
  opacity: 1;
}

.title_of_contacts img{
opacity: 1;
}



.contacts span{
  width: 15px;
  height: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #9873FF;
  border-radius: 100%;
  font-size: 8px;
  cursor: pointer;
}

.title_of_contacts{
  width: fit-content;
  color: #fff;
  font-size: 12px;
  background-color: #333;
  padding: 7px 14px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.hover_retangle{
  opacity: 1;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  
}

.test{
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top: 10px solid #333;
  position: absolute;
  z-index: 1;
}

/*! POPUP  */
.top_part{
  width: 90%;
}
#popup_title{
  display: inline-block;
  margin-top: 25px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: bold;
}

label{
  font-size: 10px;
  color: #B0B0B0;
}

.close{
  position: absolute;
  top: 1%;
  right: 2%;
  cursor: pointer;
}

#for_id{
  font-size: 12px;
  color: #B0B0B0;
}

.title_block{
  margin-bottom: 3%;
}

.input_add{
  border:none;
  border-bottom: 1px solid #C8C5D1;
  font-weight: bold;
  padding-bottom: 5px;
}

.input_add:focus,
.input_contact:focus{
  outline: none;
}

.input_container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact_inf{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F3F6;
  padding: 10px 0px;
}

.input_contact{
  border: 1px solid #C8C5D1;
  background-color: transparent;
  width: 100%;
  padding-left: 5%;
}

.contactBlock{
  display: flex;
  align-items: stretch;
}
.contact_select{
  padding: 10px 20px;
  width: 125px;
  border: 1px solid #C8C5D1;
  border-right: none;
  background-color: #E7E5EB;
  width: 100px;
}
.select_block{
  position: relative;
  cursor: pointer;
}
.custom_opt{
  position: absolute;
  z-index: 3;
  left: 0px;
  top: 100%;
  width: 100%;
  display: flex;
  border: 1px solid #C8C5D1;
  flex-direction: column;
  background-color: #F4F3F6;
  cursor: pointer;
}

.custom_opt span{
  padding: 10px 15px;
  transition: 200ms linear;
  cursor: pointer;
}
.custom_opt span:hover{
  transition: 200ms linear;
  padding: 10px 15px;
  padding-left: 20px;
  cursor: pointer;
}

.del_btn_popup{
  background-color: #E7E5EB;
  border: 1px solid #C8C5D1;
  border-left: none;
  width: 7%;
  background-image: url('./img/del.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

#contacts_block{
  width: 80%;
}

.contact_block_add{
  margin-bottom: 3%;
}

#add_contact{
  background-color: transparent;
  font-weight:600;
  border: none;
  display: flex;
  align-items: center;
}

#add_contact::before {
  content: '';
  background-image: url('./img/add_btn.svg');
  background-size: cover;
  display: inline-block;
  width: 20px; 
  height: 20px;
  margin-right: 5px;
}

#change_contact,
#save_user_add{ 
  border: none;
  padding: 15px 25px;
  color: #fff;
  background-color: #9873FF;
  cursor: pointer;
}

.popup_btns{
  display: flex;
  margin-top: 15px;
  flex-direction: column-reverse;
  padding-bottom: 15px;
  align-items: center;
}

#del_user_add,
#cancle_add{
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-bottom: .5px solid #333;
  background-color: #fff;
  margin-top: 10px;
}

#cancle_add{

  width: 50%;
}