.add_popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.list{
  padding: 0px 20px;
}
.list_item{
  display: flex;
  justify-content: space-between;
}
.id{
  width: 15%;
}
.fio{
  width: 20%;
}
.create_date{
  width: 10%;
}
.contacts{
  width: 20%;
}
.actions{
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.popup{
  background-color: #fff;
  width: 40%;
  height: 50vh;
}

.add_user_form{
  display: flex;
  flex-direction: column;
}

.dn{
  display: none;
}
