body{
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-size: 14px;
  background-color: #F5F5F5;
}
#load{
  display: block;
  text-align: center;
  padding: 20px 0px;
}

.container{
  padding-bottom: 25px;
}

.add_popup{
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_item{
  display: flex;
  justify-content: space-between;
  height: 3vh;
}
.id{
  width: 15%;
}
.fio{
  width: 20%;
}
.create_date{
  width: 10%;
}
.contacts{
  width: 20%;
}
.actions{
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.popup{
  margin-top: 5%;
  position: relative;
  background-color: #fff;
  width: 40%;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add_user_form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 25px;
}

.dn{
  display: none !important;
}

/*! начало */
.container{
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: inset 0px 5px 5px rgba(176, 190, 197, 0.8);
}
.header{
  padding: 23px 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.logo {
  margin-right: 55px;
}

.search_input{
  padding: 12px 15px;
  width: 40%;
  border: 1px solid rgba(0, 0, 0, .2)
}

.search_input:focus{
  outline: none;
}

.search_input::placeholder{
  color: #B0B0B0;
}

.title{
  display: block;
  padding: 40px;
  padding-bottom: 25px;
  font-size: 24px;
  font-weight: bolder;
}

.list{
  padding: 0px 20px;
  background-color: #fff;
}

.list_item{
  padding: 20px;
  display: flex;
  align-items: center;
}

.id{
  font-size: 12px;
  color: #B0B0B0;
}

.create_date, .change_date{
  width: 9%;
  display: flex;
  justify-content: space-between;
}

.create_date span:last-child,
.change_date span:last-child{
  color: #B0B0B0;
}

.contacts{
  width: 9%;
  gap: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.contact_img_block{
  position: relative;
}
.contact_img_block img{
  transition: 300ms;
  opacity: .7;
  cursor: pointer;
}

.contact_img_block img:hover{
  transition: 300ms;
  opacity: 1;
}

.title_of_contacts img{
opacity: 1;
}

.contacts span{
  width: 15px;
  height: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #9873FF;
  border-radius: 100%;
  font-size: 8px;
  cursor: pointer;
}

.title_of_contacts{
  width: fit-content;
  color: #fff;
  font-size: 12px;
  background-color: #333;
  padding: 7px 14px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.hover_retangle{
  opacity: 1;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  
}

.test{
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top: 10px solid #333;
  position: absolute;
  z-index: 1;
}

/*! POPUP  */
.top_part{
  width: 90%;
}
#popup_title{
  display: inline-block;
  margin-top: 25px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: bold;
}

label{
  font-size: 10px;
  color: #B0B0B0;
}

.close{
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

#for_id{
  font-size: 12px;
  color: #B0B0B0;
}

.title_block{
  margin-bottom: 3%;
}

.input_add{
  border:none;
  border-bottom: 1px solid #C8C5D1;
  font-weight: bold;
  padding-bottom: 5px;
}

.input_add:focus,
.input_contact:focus{
  outline: none;
}

.input_container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact_inf{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F3F6;
  padding: 10px 0px;
}

.input_contact{
  border: 1px solid #C8C5D1;
  background-color: transparent;
  width: 100%;
  padding-left: 5%;
}

.contactBlock{
  display: flex;
  align-items: stretch;
}
.contact_select{
  padding: 10px 20px;
  width: 125px;
  border: 1px solid #C8C5D1;
  border-right: none;
  background-color: #E7E5EB;
  width: 100px;
}
.select_block{
  position: relative;
  cursor: pointer;
}
.custom_opt{
  position: absolute;
  z-index: 3;
  left: 0px;
  top: 100%;
  width: 100%;
  display: flex;
  border: 1px solid #C8C5D1;
  flex-direction: column;
  background-color: #F4F3F6;
  cursor: pointer;
}

.custom_opt span{
  padding: 10px 15px;
  transition: 200ms linear;
  cursor: pointer;
}
.custom_opt span:hover{
  transition: 200ms linear;
  padding: 10px 15px;
  padding-left: 20px;
  cursor: pointer;
}

.del_btn_popup{
  background-color: #E7E5EB;
  border: 1px solid #C8C5D1;
  border-left: none;
  width: 7%;
  background-image: url('./img/del.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

#contacts_block{
  width: 80%;
}

.contact_block_add{
  margin-bottom: 3%;
}

#add_contact{
  width: 100%;
  font-weight:600;
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: center;
}

#add_contact::before {
  content: '';
  background-image: url('./img/add_btn.svg');
  background-size: cover;
  display: inline-block;
  width: 20px; 
  height: 20px;
  margin-right: 5px;
}

#change_contact,
#save_user_add,
.del_btn_del_popup{ 
  border: none;
  padding: 15px 25px;
  color: #fff;
  background-color: #9873FF;
  cursor: pointer;
}

.popup_btns{
  display: flex;
  margin-top: 15px;
  flex-direction: column-reverse;
  padding-bottom: 15px;
  align-items: center;
}

#del_user_add,
#cancle_add,
.cancle_del{
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-bottom: .5px solid #333;
  background-color: #fff;
  margin-top: 10px;
}

#del_cancel{
  width: 70%;
}

#cancle_add{

  width: 50%;
}

.main_btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#add_user_popup::before {
  content: '';
  background-image: url('./img/man.svg');
  background-size: cover;
  display: inline-block;
  width: 22px; 
  height: 16px;
  margin-right: 5px; 
}

#add_user_popup{
  color: #9873FF;
  background-color: #F5F5F5;
  border: 1px solid #9873FF;
  display: flex;
  align-items: center;
  padding: 15px 25px;
}

.change_btn::before{
  content: '';
  background-image: url('./img/pen.svg');
  background-size: cover;
  display: inline-block;
  width: 12px; 
  height: 12px;
  margin-right: 5px; 
}

.del_btn::before{
  content: '';
  background-image: url('./img/del_red.svg');
  background-size: cover;
  display: inline-block;
  width: 12px; 
  height: 12px;
  margin-right: 5px;
}

.change_btn,
.del_btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.popup_del{
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.del_title{
  font-size: 18px;
  font-weight: bold;
}

.del_text{
  width: 40%;
  text-align: center;
}

.del_btns{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backDrop{
  background-image: url('./img/drop.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
  display: inline-block;
}

.backDropUp{
  background-image: url('./img/dropUp.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
  display: inline-block;
}

.filter_block{
  display: flex;
  gap: 14%;
  padding: 0px 40px;
}

.filer_time_block{
  display: flex;
  gap: 15%;
}
.filer_time_block button{
  width: 35%;
}
.filter_block button{
  text-align: left;
  display: flex;
  align-items: center;
}

.filter_block button::after{
  content: '';
  margin-left: 5px;
  background-color: transparent;
  background-image: url('./img/arrDown.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 12px; 
  height: 12px;
}

.filter_block button:nth-child(2)::after{
  content: '';
  margin-left: 5px;
  width: 100%;
  background-color: transparent;
  background-image: url('./img/arrowDownLet.svg');
  background-size: cover;
  display: inline-block;
  width: 36px; 
  height: 12px;
}

.upImg::after{
  background-image: url('./img/arrUp.svg') !important;
}

.upImgLet::after{
  background-image: url('./img/arrowUpLet.svg') !important;
}

.filer_time_block button:last-child::after{
  content: '';
  margin-left: 5px;
  background-color: transparent;
  background-image: url('./img/arrDown.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 20px; 
  height: 20px;
}

.filer_time_block button::after{
  content: '';
  margin-left: 5px;
  background-color: transparent;
  background-image: url('./img/arrDown.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 20px; 
  height: 20px;
}

.filter_block button{
  background-color: transparent;
  border: none;
  color: #B0B0B0;
}

.errors{
  color: #F06A4D;
  font-size: 10px;
}

.errBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.errBorder{
  border-bottom: 1px solid #F06A4D;
}

.errColor{
  color: #F06A4D;
}

@media (max-width:1024px) {
  .filter_block{
    gap: 8%;
    font-size: 12px;
  }

  .id{
    width: 8%;
  }

  .filer_time_block{
    gap: 12%;
  }

  .actions{
    width: 20%;
  }

  .del_text{
    width: 60%;
  }

  #del_cancel{
    width: 45%;
  }

  #cancle_add{
    width: 45%;
  }
  .contacts{
    width: 13%;
  }
  .create_date,
  .change_date{
    width: 12%;
  }
}

@media (max-width: 768px) {
  .list{
    padding: 0px;
  }
  
  .list_item{
    gap: 2%;
  }

  .filter_block{
    gap: 5%;
  }

  .id{
    width: 13%;
  }

  .fio{
    width: 25%;
  }

  .create_date,
  .change_date{
    flex-direction: column;
    width: 10%
  }

  .contacts{
    width: 18%;
  }

  .actions{
    width: 15%;
    gap: 5px;
    flex-direction: column;
  }

  .popup{
    width: 60%;
  }
  .del_btn_popup{
    width: 15%;
  }
  #contacts_block{
    width: 90%;
  }
}

@media (max-width: 320px) {
  .container{
    overflow: scroll;
  }
  .clients{
    position: relative;
  }
  .list{
    width: 728px;
  }
  .header{
    display: flex;
    justify-content: center;
  }

  .logo{
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  .search_input{
    display: none;
  }
  .main_btn{
    position: fixed;
    bottom: 10px;
    margin: 0 auto;
  }
  .popup{
    width: 100%;
  }
  .popup_del{
    height: 25vh;
  }

  .clients{
    width: 768px;
  }

  .filter_block{
    padding: 0px 20px;
    gap: 5%;
  }
  .filer_time_block{
    gap: 5%;
  }
}

